.container-home-content .container-title {
  position: absolute;
  left: 2rem;
  top: 45%;
}

.container-home-content .container-title h1 {
  font-size: 7rem;
  letter-spacing: 5px;
  font-family: var(--montserrat-font);
}
