.container-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84.2vh;
  margin-top: 6rem;
}

.container-main .container-home-content .container-img {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50%;
}

.container-main .container-home-content .container-img img {
  width: 80%;
  display: block;
  margin: auto;
}

.container-main .container-home-content .container-title {
  position: absolute;
  top: 80px;
  left: 100px;
  width: 90%;
}

.container-main .container-home-content .container-title h1 {
  position: relative;
  left: -30px;
  font-size: var(--big-word);
  color: var(--body-color);
  letter-spacing: 1.5px;
  display: inline-block;
  font-family: var(--montserrat-font);
  user-select: none;
}

.container-main .container-home-content .container-title p {
  color: var(--body-color);
  line-height: 30px;
  font-size: var(--default-size);
  padding-top: 1rem;
  opacity: 0;
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  font-family: var(--montserrat-font);
}

.container-main .container-home-content .container-title p span {
  font-size: var(--icon-size);
}

.container-main .container-home-content .container-title .container-buttons {
  position: absolute;
  top: 240px;
  left: -0px;
  font-family: var(--montserrat-font);
}

.container-main .container-home-content .container-title .container-buttons a {
  display: inline-block;
}

a.btn2 {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(var(--default-size) + 0.1rem);
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  display: inline-flex;
  justify-content: center;
}

a.btn2:hover {
  background: var(--color-main);
  color: var(--color-main);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--color-main);
}

a.btn2::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

a.btn2 span {
  position: relative;
  z-index: 1;
}

a.btn2 i {
  position: absolute;
  inset: 0;
  display: block;
}

a.btn2 i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a.btn2:hover i::before {
  width: 20px;
  left: 20%;
}

a.btn2 i::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a.btn2:hover i::after {
  width: 20px;
  left: 80%;
}

a.btn2:nth-child(2) {
  margin-left: 40px;
}

.rutinas {
  margin-top: 6rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
a {
    position: relative;
    background:#fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 1.5em;
    letter-spacing: .1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: .5s;
}

a:hover {
    background: #4ee;
    color: #4ee;
    letter-spacing: .25em;
    box-shadow: 0 0 35px #4ee;
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}


a i::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: .5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}
*/
