.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.nav.open {
  z-index: 2;
  transition: all 0.1s ease-in-out;
}

.nav .container-name {
  position: fixed;
  top: 20px;
  right: 40px;
  font-family: var(--details-font);
  font-size: 1.3rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #000;
  animation: appear 2s linear;
  animation-fill-mode: forwards;
}

button {
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  position: relative;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.icon-placeholder i {
  position: relative;
  top: 9px;
  left: 9px;
  color: var(--color-main);
  font-size: var(--icon-size);
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.text-placeholder a {
  position: relative;
  top: -10px;
  color: #fff;
  font-size: var(--default-size);
  text-decoration: none;
  font-family: var(--body-font);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container-redes {
  position: fixed;
  bottom: 80px;
  right: 30px;
}

.container-redes::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 2px;
  background-color: #fff;
  animation: largest 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.container-redes .container-redes-icon {
  display: flex;
  flex-direction: column;
}

.container-redes .container-redes-icon a {
  font-size: 1.3rem;
  cursor: pointer;
  margin: 10px 0;
}

@keyframes largest {
  0% {
    height: 0;
  }
  100% {
    height: 70px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
