.container-settings {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: var(--montserrat-font);
  background-color: #13131a;
  transform: scale(0);
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-settings.open {
  transform: scale(1);
  transition: var(--transition);
}

.container-settings .settings-content .settings-title {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #fff;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.container-settings .settings-content .settings-title .title {
  width: 50%;
  height: 100%;
}

.container-settings .settings-content .settings-title .title:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.container-settings .settings-content .settings-title .title h2 {
  position: absolute;
  top: 15px;
  color: #fff;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.container-settings .settings-content .settings-title .title:nth-child(1) h2 {
  left: 280px;
}

.container-settings .settings-content .settings-title .title:nth-child(2) h2 {
  left: 880px;
}

.container-settings .settings-content .settings-title .title:nth-child(1) {
  border-right: 1px solid #fff;
}

.container-settings .settings-content .settings-title .title:nth-child(2) {
  border-left: 1px solid #fff;
}

.container-settings .settings-content .container-selector {
  position: absolute;
  top: 80px;
  left: 314px;
}

.container-settings .settings-content .container-selector .selector {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.container-settings .settings-content .container-selector .selector.temas {
  transform: translateX(0);
}

.container-settings
  .settings-content
  .container-selector
  .selector.accesibilidad {
  transform: translate(640px);
}

.container-settings .settings-content .container-temas {
  width: 100%;
  height: 82.2vh;
  margin-top: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
}

.container-settings .settings-content .container-temas.temas {
  transform: translateX(0);
}

.container-settings .settings-content .container-temas h1 {
  position: absolute;
  color: #fff;
  top: 80px;
}

.container-settings
  .settings-content
  .container-temas
  .container-content-temas {
  margin-top: -5rem;
}

.container-settings .settings-content .container-temas .tema {
  display: inline-block;
  margin: 4rem 40px;
}

.container-settings .settings-content .container-temas .tema i {
  position: relative;
  top: 10px;
  font-size: var(--title-size);
  color: #fff;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}

.container-settings
  .settings-content
  .container-temas
  .tema
  i.ri-check-line.selected {
  position: relative;
  opacity: 1;
  z-index: 2;
}

.container-settings .settings-content .container-temas .tema .red {
  background-color: #ec000f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container-settings .settings-content .container-temas .tema .blue {
  background-color: #0020c3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container-settings .settings-content .container-temas .tema .orange {
  background-color: #ff4d00ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container-settings .settings-content .container-temas .tema .green {
  background-color: #33a100ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container-settings .settings-content .container-temas .tema .rosa {
  background-color: #8800ac;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.container-settings .settings-content .container-temas .container-preview {
  position: absolute;
  top: 290px;
  width: 100%;
  height: 80%;
}

.container-settings .settings-content .container-temas .container-preview img {
  width: 60%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  ul
  li {
  display: inline-block;
  margin: 19px 17.4px;
  font-size: 0.85rem;
  letter-spacing: 0.7px;
  color: #fff;
  user-select: none;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  ul
  li:hover {
  color: var(--color-main);
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  .btn2 {
  position: absolute;
  top: 248px;
  left: 425px;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button {
  width: 118px;
  height: 28px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button
  span {
  position: relative;
  z-index: 2;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  .btn1 {
  position: absolute;
  top: 248px;
  left: 295px;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button
  div {
  top: 0;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  clip-path: circle(0% at top left);
  transition: clip-path 0.4s;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button.btn1:hover
  div {
  clip-path: circle(150% at top left);
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button.btn2
  div {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  z-index: 1;
  clip-path: circle(0% at top left);
  transition: clip-path 0.4s;
}

.container-settings
  .settings-content
  .container-temas
  .container-preview
  .container-items-preview
  .item-preview
  .button
  button.btn2:hover
  div {
  clip-path: circle(151% at top left);
}

.container-settings .settings-content .container-temas .container-guardar {
  position: absolute;
  top: 630px;
}

.container-settings .settings-content .container-temas .guardar {
  width: 220px;
  height: 45px;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: var(--default-size);
  border-radius: 5px;
  cursor: pointer;
  margin: 3rem 0;
}

.container-settings .settings-content .container-temas .guardar:hover {
  background-color: #fff;
  color: #000;
}

.container-settings .settings-content .container-accesibilidad {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  margin-top: 8rem;
}

.container-settings .settings-content .container-accesibilidad h1 {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 1.2px;
}

.container-settings .settings-content .container-accesibilidad.accesibilidad {
  transform: translateX(0);
}
